@{
    ViewBag.Title = "Cargar archivos";
}

<h2>Cargar archivos txt</h2><br />
<p>@ViewBag.Mensaje</p>
<li>@Html.ActionLink("Cargar archivo Barrios", "Barrio", "ArchivosTxt")</li><br />
<li>@Html.ActionLink("Cargar archivo Paramentros", "Parametro", "ArchivosTxt")</li><br />
<li>@Html.ActionLink("Cargar archivo Viviendas", "Vivienda", "ArchivosTxt")</li><br />
