@{
    ViewBag.Title = "Adjudicación Viviendas";
}

<div class="jumbotron">
    <h2>BIENVENIDO A ADJUDICACIÓN VIVIENDAS</h2>
    <p class="lead">En adjudicación viviendas podrás encontrar vivendas de todo tipo a un muy buen precio, podrás inscribirte a los sorteos que se hacen de las mismas periodicamente.</p>
    <p>SUERTE!!!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Buscar viviendas</h2>
        <p>
            Podés buscar viviendas utilizando diferentes tipos de filtros para la busqueda en función a tus requerimientos. 
        </p>
    </div>
    <div class="col-md-4">
        <h2>Inscribirse a sorteos</h2>
        <p>Podés inscribirte a todos los sorteos que desees, una vez que ganaste uno no podrás volver a inscribirte</p>
    </div>
    <div class="col-md-4">
        <h2>Ver Sorteos</h2>
        <p>Podés ver los detalles de los sorteos que aún no se realizaron y los que ya se realizaron</p>
    </div>
</div>